* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgb(4, 0, 24);
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.appContainer {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(174, 255, 231, 0.384);
  padding: 1rem 0.85rem;
}

.appContainer a {
  font-size: 1rem;
  color: rgb(164, 94, 255);
  text-decoration: none;
}

.logo {
  margin-right: auto;
}

.right a {
  margin: 0 0.35rem;
}

.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
  padding: 1rem;
  width: max-content;
  margin: 0 auto;
}

.card {
  border: 1px solid rgba(175, 114, 255, 0.247);
  max-width: 250px;
  padding: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(46, 206, 255, 0.1) 0 10px 25px 0;
}

.card h1 {
  font-size: 1.25rem;
  color: #4a4aff;
  margin-bottom: 0.45rem;
}

.card p {
  font-size: 0.85rem;
  color: #a7a7ffc5;
  margin-bottom: 1rem;
}

.pagibox {
  text-align: center;
  margin: 1rem 0;
}

.pbtn {
  margin: 0 0.45rem;
  padding: 0.3rem 0.9rem;
  border: 1px solid rgba(221, 221, 221, 0.384);
  cursor: pointer;
  border-radius: 0.35rem;
}

.active {
  border: 1px solid #fff;
  background-color: #4a98ff4d;
}

.container {
  padding: 1rem;
}

article {
  margin-bottom: 2rem;
  border-radius: 0.35rem;
  box-shadow: rgba(10, 198, 255, 0.1) 0 10px 20px 0;
  padding: 1rem;
}

article h3 {
  margin-bottom: 0.35rem;
  font-size: 1.25rem;
  color: #fff !important;
}

article p {
  font-size: 0.9rem;
  color: #e6e6ff9d;
}

.rm {
  text-decoration: none;
  border-radius: 0.45rem;
  border: 1px solid rgb(249, 65, 255);
  padding: 0.35rem 1rem;
  color: #ffffff;
  background-color: #be33ff;
}

.blog {
  padding: 1rem;
}

.blog h1 {
  margin-bottom: 1rem;
  color: #4a4aff;
}

.blog p {
  color: #ffffffbd;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  padding: 0.25rem;
}
